@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*Tailwind CSS Injection*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files; Uses SCSS - https://sass-lang.com/documentation/syntax */

/*#region Tags*/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	@apply font-medium my-auto;
}

h1, .h1 {
	@apply text-4xl;
}

h2, .h2 {
	@apply text-3xl;
}

h3, .h3 {
	@apply text-2xl;
}

h4, .h4 {
	@apply text-xl;
}

h5, .h5 {
	@apply text-lg;
}

hr {
	@apply block my-2 mx-auto border border-gray-100;
}

html {
	font-family: 'Poppins' !important;
	font-size: 16px;
	text-transform: uppercase !important;
}

svg {
	pointer-events: none;
}

/*#endregion Tags*/

/*#region Classes*/

.card {
	@apply /*max-w-screen-95*/ bg-white /*shadow-2*/ rounded;
}

.hyperlink {
	@apply text-blue-500 cursor-pointer;

	&:hover {
		@apply underline;
	}

	&:focus,
	&:active {
		@apply text-indigo-600;
	}
}

.input-underline {
	@apply border-b border-gray-400 outline-none px-1;

	&:focus {
		@apply border-purple-400;
	}

	&::placeholder {
		@apply text-sm font-light;
	}
}

.input-outline {
	@apply border border-gray-400 outline-none rounded-sm px-2 py-1;

	&:focus {
		@apply border-blue-400;
	}

	&::placeholder {
		@apply text-sm font-light;
	}
}
/*#endregion Classes*/

/*#region IDs*/
/*#endregion IDs*/

/*#region Browser Pseudo Elements*/
::-webkit-scrollbar {
	width: 0.3rem;
	height: 0.3rem;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: #888;

	&:hover {
		background: #555;
	}
}
/*#endregion Browser Pseudo Elements*/

.fc-button {
	background-color: #5d441c !important;
	border-color: #5d441c !important;
	color: #fff !important;
	font-size: smaller !important;
}

.fc-right {
	display: flex !important;
	justify-content: center !important;
}

h2, th {
	color: #5d441c;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.fc-day-number {
	color: #e2c7ac;
	text-shadow: 1px 1px #5d441c
}


